#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=rv
GenericName=rv
Comment[zh_CN]=访问互联网
Exec=/usr/share/wt/pl/wt %U
Terminal=false
Icon=/home/rot/Pictures/vim.png
Type=Application
Categories=Application;
#MimeType=text/html;text/xml;application/xhtml_xml;
